header.header
  .container
    .header__container
      .header__row
        button.header__menu
        a.header__logo(href='#!')
        .header__logo-title Business Education for HR
        a.header__phone(href='tel:88005555555') 8 800 555-55-55
        button.btn.header__recall Заказать звонок

      nav.header__nav
        a.header__nav-link(href='#!') О компании
        a.header__nav-link(href='#!') Программы BeHR
        a.header__nav-link(href='#!') Расписание
        a.header__nav-link(href='#!') Эксперты
        a.header__nav-link(href='#!') Блог
        a.header__nav-link(href='#!') Отзывы
        a.header__nav-link(href='#!') Контакты