mixin experts(data)
  .expert
    .expert__img-wrap 
      img.expert__img(src='img/experts/avatar-' +data.item+ '.jpg', alt="")
    .expert__name= data.name 
    .expert__desc= data.desc
    a.expert__link= Подробнее
