-
  heroSlider1 = [
    {
      title: 'Учиться<br> правильно',
      text: '<div class="hero__slider-list-text-mark">Современные</div> методики обучения',
    },
    {
      title: 'Учиться<br> у лучших',
      text: '15 преподавателей <div class="hero__slider-list-text-mark">практиков</div>',
    },
    {
      title: 'Изучать<br> нужное',
      text: 'Более <div class="hero__slider-list-text-mark">10 программ</div> по всем сферам HR',
    },
    {
      title: 'Быть<br> лучшим',
      text: '72% выпускников стали <div class="hero__slider-list-text-mark">зарабатывать</div> больше в <div class="hero__slider-list-text-mark">2 раза</div>',
    },
  ]

  heroSlider2 = [
    {
      title: 'Все<br> направления HR'
    },
    {
      title: 'Отработка<br> на практике'
    },
    {
      title: 'Обратная связь<br> от кураторов'
    },
    {
      title: 'Чат с<br> преподавателем'
    },
    {
      title: 'Из любой<br> точки мира'
    },
    {
      title: 'Сертификат<br> и гос.диплом'
    },
  ]

  heroSlider2_2 = [
    {
      title: 5,
      text: 'модулей'
    },
    {
      title: 5,
      text: 'вебинаров'
    },
    {
      title: 65,
      text: 'часов видео'
    },
    {
      title: 45,
      text: 'уроков'
    },
    {
      title: '2<div class="hero__slider-circles-title-small">ГБ</div>',
      text: 'материалов'
    },
  ]

  heroSlider3 = [
    {
      title: 'Пройти курс'
    },
    {
      title: 'Сдать тест'
    },
    {
      title: 'Защитить диплом'
    },
    {
      title: 'Получить сертификат'
    },
    {
      title: 'Получить гос.диплом'
    },
  ]

  schedule = [
    {
      title: 'Продающий HR',
      location: 'Санкт-Петербург',
      time: '25–26 февраля 2018'
    },
    {
      title: 'Коучинговый подход в тренинге',
      location: 'Нижний Новгород',
      time: '1 марта 2018'
    },
    {
      title: 'Подбор, найм и адаптация персонала',
      location: 'Москва',
      time: '4–5 марта 2018'
    },
    {
      title: 'Реализация современной наградной политики',
      location: 'Петропавловск-Камчатский',
      time: '11–12 марта 2018'
    },
  ]

  experts = [
    {
      item: '1',
      name: 'Мария Скворцова',
      desc: 'Аккредитованный тренер-преподаватель школы HR-MOS'
    },
    {
      item: '2',
      name: 'Дмитрий Миронов',
      desc: 'Сертифицированный HR-тренер, кандидат психологических наук'
    },
    {
      item: '3',
      name: 'Сергей Степанченко',
      desc: 'HR-тренер МосМСЦ, кандидат психологических наук'
    },
    {
      item: '4',
      name: 'Роман Чесноков',
      desc: 'Аккредитованный тренер-преподаватель школы HR-MOS'
    },
    {
      item: '5',
      name: 'Максим Старцев',
      desc: 'Сертифицированный HR-тренер, кандидат психологических наук'
    },
    {
      item: '6',
      name: 'Игорь Дубцов',
      desc: 'HR-тренер МосМСЦ, кандидат психологических наук'
    },
    {
      item: '7',
      name: 'Павел Шмелев',
      desc: 'Аккредитованный тренер-преподаватель школы HR-MOS'
    },
    {
      item: '8',
      name: 'Олег Пирогов',
      desc: 'Сертифицированный HR-тренер, кандидат психологических наук'
    },
    {
      item: '9',
      name: 'Евгений Кузнецов',
      desc: 'HR-тренер МосМСЦ, кандидат психологических наук'
    }
  ]

  expertsRecomended = [
    {
      item: '1',
      name: 'Мария Скворцова',
      desc: 'Директор ООО «Ромашка»'
    },
    {
      item: '2',
      name: 'Дмитрий Миронов',
      desc: 'Директор ООО «Стройбарс»'
    },
    {
      item: '3',
      name: 'Сергей Степанченко',
      desc: 'Директор ООО «ВалериРус»'
    },
    {
      item: '4',
      name: 'Роман Чесноков',
      desc: 'Директор ООО «МарсОрбитер»'
    },
    {
      item: '5',
      name: 'Максим Старцев',
      desc: 'Директор ООО «Ромашка»'
    },
    {
      item: '6',
      name: 'Игорь Дубцов',
      desc: 'Директор ООО «Стройбарс»'
    },
    {
      item: '7',
      name: 'Павел Шмелев',
      desc: 'Директор ООО «ВалериРус»'
    },
    {
      item: '8',
      name: 'Олег Пирогов',
      desc: 'Директор ООО «МарсОрбитер»'
    },
    {
      item: '9',
      name: 'Евгений Кузнецов',
      desc: 'Директор ООО «Ромашка»'
    }
  ]

  blogNew = [
    {
      title: 'Стресс-интервью',
      text: 'Мотивация труда персонала является ключевым направлением кадровой политики любого предприятия...',
      date: '12 февраля 2018'
    },
    {
      title: 'Что такое HR?',
      text: 'Мотивация труда персонала является ключевым направлением кадровой политики любого предприятия...',
      date: '10 февраля 2018'
    },
    {
      title: 'Мотивация персонала',
      text: 'Мотивация труда персонала является ключевым направлением кадровой политики любого предприятия...',
      date: '02 февраля 2018'
    },
  ]

  reviews = [
    {
      title: 'Марина Смирнова',
      desc: '22 года, директор по персоналу',
      link: 'vk.com/id12345678',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.',
    },
  ]

  blog = [
    {
      title: 'Мотивация персонала',
      text: 'Английский термин, обозначающий кадровую службу, дословно от англ. Human Resource — человеческие ресурсы...',
      date: '12 февраля 2018'
    }
  ]

  expertAbout = [
    {
      title: 'Образование',
      desc: 'В декабре 2016 года вошел в состав Президентского форума по стратегии и политике при президенте США Дональде Трампе — группы из 16 американских предпринимателей, задача которой состоит в том, чтобы консультировать 45-го президента США'
    },
    {
      title: 'Биография',
      desc: 'Основатель компании PayPal; основатель, совладелец, генеральный директор и главный инженер компании SpaceX; председатель совета директоров, генеральный директор и главный идейный вдохновитель (Chief Product Architect) компании Tesla; член совета директоров компании SolarCity, основанной его двоюродными братьями.'
    },
    {
      title: 'Опыт работы',
      desc: 'В рейтинге миллиардеров журнала Forbes в 2017 году его состояние оценивалось более чем в $20 млрд.'
    },
    {
      title: 'Факты',
      desc: 'Интересный факт о Павле: вырос в военном городке. Его отец был командиром подводной лодки на Балтике.'
    }
  ]

  coursesShort = [
    {
      number: 1,
      title: 'Продающий HR'
    },
    {
      number: 2,
      title: 'Подбор, найм и адаптация персонала'
    },
    {
      number: 3,
      title: 'Коучинговый подход в тренинге'
    },
    {
      number: 4,
      title: 'Продающий HR'
    }
  ]

  coursesLong = [
    {
      number: 1,
      title: 'Продающий HR',
      date: '25-26 февраля 2018',
      speacker: 'Дмитрий Миронов'
    },
    {
      number: 2,
      title: 'Подбор, найм и адаптация персонала',
      date: '1 марта 2018',
      speacker: 'Мария Скворцова'
    },
    {
      number: 3,
      title: 'Коучинговый подход в тренинге',
      date: '5 марта 2018',
      speacker: 'Дмитрий Миронов'
    },
    {
      number: 4,
      title: 'Продающий HR',
      date: '11 марта 2018',
      speacker: 'Дмитрий Миронов'
    },
    {
      number: 1,
      title: 'Продающий HR',
      date: '25-26 февраля 2018',
      speacker: 'Дмитрий Миронов'
    },
    {
      number: 2,
      title: 'Подбор, найм и адаптация персонала',
      date: '1 марта 2018',
      speacker: 'Мария Скворцова'
    },
    {
      number: 3,
      title: 'Коучинговый подход в тренинге',
      date: '5 марта 2018',
      speacker: 'Дмитрий Миронов'
    },
    {
      number: 4,
      title: 'Продающий HR',
      date: '11 марта 2018',
      speacker: 'Дмитрий Миронов'
    }
   
  ]

  sheduleMenu = ['Екатеринбург', 'Омск', 'Казань', 'Сочи', 'Новосибирск' ,'Тюмень']

  sheduleSelect = [
    {
      title: 'Москва',
      val: 'moskva'
    },
    {
      title: 'Санкт-Петербург',
      val: 'sankt'
    },
    {
      title: 'Екатеринбург',
      val: 'ekat'
    },
    {
      title: 'Омск',
      val: 'omsk'
    },
    {
      title: 'Казань',
      val: 'kazan'
    },
    {
      title: 'Сочи',
      val: 'sochi'
    },
    {
      title: 'Новосибирск',
      val: 'novosib'
    },
    {
      title: 'Тюмень',
      val: 'tumen'
    }
  ]

  events = [
    {
      title: 'Тренинг «Продающий HR»',
      date: '13 февраля, ',
      place: 'Санкт-Петербург',
      transl: true,
      cont: 'Деятельность по управлению персоналом — целенаправленное воздействие на человеческую составляющую организации, ориентированное на приведение в соответствие возможностей персонала и целей, стратегий, условий развития организации. Управление персоналом подразделяется на следующие сферы деятельности: поиск и адаптация персонала, оперативная работа с персоналом (включая обучение и развитие персонала, оперативную оценку персонала, организацию труда, управление деловыми коммуникациями, мотивацией и оплатой труда), стратегическая работа с персоналом.'
    },
    {
      title: 'Тренинг «Продающий HR»',
      date: '13 февраля, ',
      traning: true,
      cont: 'Деятельность по управлению персоналом — целенаправленное воздействие на человеческую составляющую организации, ориентированное на приведение в соответствие возможностей персонала и целей, стратегий, условий развития организации. Управление персоналом подразделяется на следующие сферы деятельности: поиск и адаптация персонала, оперативная работа с персоналом (включая обучение и развитие персонала, оперативную оценку персонала, организацию труда, управление деловыми коммуникациями, мотивацией и оплатой труда), стратегическая работа с персоналом.'
    },
    {
      title: 'Тренинг «Продающий HR»',
      date: '13 февраля, ',
      place: 'Санкт-Петербург',
      cont: 'Деятельность по управлению персоналом — целенаправленное воздействие на человеческую составляющую организации, ориентированное на приведение в соответствие возможностей персонала и целей, стратегий, условий развития организации. Управление персоналом подразделяется на следующие сферы деятельности: поиск и адаптация персонала, оперативная работа с персоналом (включая обучение и развитие персонала, оперативную оценку персонала, организацию труда, управление деловыми коммуникациями, мотивацией и оплатой труда), стратегическая работа с персоналом.'
    }



  ] 