-
  heroSlider1 = [
    {
      title: 'Учиться<br> правильно',
      text: '<div class="hero__slider-list-text-mark">Современные</div> методики обучения',
    },
    {
      title: 'Учиться<br> у лучших',
      text: '15 преподавателей <div class="hero__slider-list-text-mark">практиков</div>',
    },
    {
      title: 'Изучать<br> нужное',
      text: 'Более <div class="hero__slider-list-text-mark">10 программ</div> по всем сферам HR',
    },
    {
      title: 'Быть<br> лучшим',
      text: '72% выпускников стали <div class="hero__slider-list-text-mark">зарабатывать</div> больше в <div class="hero__slider-list-text-mark">2 раза</div>',
    },
  ]

  heroSlider2 = [
    {
      title: 'Все<br> направления HR'
    },
    {
      title: 'Отработка<br> на практике'
    },
    {
      title: 'Обратная связь<br> от кураторов'
    },
    {
      title: 'Чат с<br> преподавателем'
    },
    {
      title: 'Из любой<br> точки мира'
    },
    {
      title: 'Сертификат<br> и гос.диплом'
    },
  ]

  heroSlider2_2 = [
    {
      title: 5,
      text: 'модулей'
    },
    {
      title: 5,
      text: 'вебинаров'
    },
    {
      title: 65,
      text: 'часов видео'
    },
    {
      title: 45,
      text: 'уроков'
    },
    {
      title: '2<div class="hero__slider-circles-title-small">ГБ</div>',
      text: 'материалов'
    },
  ]

  heroSlider3 = [
    {
      title: 'Пройти курс'
    },
    {
      title: 'Сдать тест'
    },
    {
      title: 'Защитить диплом'
    },
    {
      title: 'Получить сертификат'
    },
    {
      title: 'Получить гос.диплом'
    },
  ]

  schedule = [
    {
      title: 'Продающий HR',
      location: 'Санкт-Петербург',
      time: '25–26 февраля 2018'
    },
    {
      title: 'Коучинговый подход в тренинге',
      location: 'Нижний Новгород',
      time: '1 марта 2018'
    },
    {
      title: 'Подбор, найм и адаптация персонала',
      location: 'Москва',
      time: '4–5 марта 2018'
    },
    {
      title: 'Реализация современной наградной политики',
      location: 'Петропавловск-Камчатский',
      time: '11–12 марта 2018'
    },
  ]

  experts = [
    {
      item: '1',
      name: 'Мария Скворцова',
      desc: 'Аккредитованный тренер-преподаватель школы HR-MOS'
    },
    {
      item: '2',
      name: 'Дмитрий Миронов',
      desc: 'Сертифицированный HR-тренер, кандидат психологических наук'
    },
    {
      item: '3',
      name: 'Сергей Степанченко',
      desc: 'HR-тренер МосМСЦ, кандидат психологических наук'
    },
    {
      item: '4',
      name: 'Роман Чесноков',
      desc: 'Аккредитованный тренер-преподаватель школы HR-MOS'
    },
    {
      item: '5',
      name: 'Максим Старцев',
      desc: 'Сертифицированный HR-тренер, кандидат психологических наук'
    },
    {
      item: '6',
      name: 'Игорь Дубцов',
      desc: 'HR-тренер МосМСЦ, кандидат психологических наук'
    },
    {
      item: '7',
      name: 'Павел Шмелев',
      desc: 'Аккредитованный тренер-преподаватель школы HR-MOS'
    },
    {
      item: '8',
      name: 'Олег Пирогов',
      desc: 'Сертифицированный HR-тренер, кандидат психологических наук'
    },
    {
      item: '9',
      name: 'Евгений Кузнецов',
      desc: 'HR-тренер МосМСЦ, кандидат психологических наук'
    }
  ]

  blogNew = [
    {
      title: 'Стресс-интервью',
      text: 'Мотивация труда персонала является ключевым направлением кадровой политики любого предприятия...',
      date: '12 февраля 2018'
    },
    {
      title: 'Что такое HR?',
      text: 'Мотивация труда персонала является ключевым направлением кадровой политики любого предприятия...',
      date: '10 февраля 2018'
    },
    {
      title: 'Мотивация персонала',
      text: 'Мотивация труда персонала является ключевым направлением кадровой политики любого предприятия...',
      date: '02 февраля 2018'
    },
  ]

  reviews = [
    {
      title: 'Марина Смирнова',
      desc: '22 года, директор по персоналу',
      link: 'vk.com/id12345678',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.',
    },
  ]

  blog = [
    {
      title: 'Мотивация персонала',
      text: 'Английский термин, обозначающий кадровую службу, дословно от англ. Human Resource — человеческие ресурсы...',
      date: '12 февраля 2018'
    }
  ]