-
  heroSlider1 = [
    {
      title: 'Учиться<br> правильно',
      text: '<div class="hero__slider-list-text-mark">Современные</div> методики обучения',
    },
    {
      title: 'Учиться<br> у лучших',
      text: '15 преподавателей <div class="hero__slider-list-text-mark">практиков</div>',
    },
    {
      title: 'Изучать<br> нужное',
      text: 'Более <div class="hero__slider-list-text-mark">10 программ</div> по всем сферам HR',
    },
    {
      title: 'Быть<br> лучшим',
      text: '72% выпускников стали <div class="hero__slider-list-text-mark">зарабатывать</div> больше в <div class="hero__slider-list-text-mark">2 раза</div>',
    },
  ]