.expert

  &__head-link
    text: #000 17px

    &:before
      content: ''
      display: inline-block
      transform: rotate(180deg)
      background: svg-load('icons/arrow-short.svg' fill: #000) no-repeat center / contain
      size: 8px 11px @sm size('icons/arrow-short.svg')