.experts

  & .expert-preview
    margin-bottom: 30px @md 46px @lg 60px
    
  &__title
    text-align: center
    margin: 42px 0 @md 44px 0 @lg 70px 0 67px

  &__btn-wrap
    text-align: center
    padding: 0 0 60px

  &__btn
    width: 100% @md initial
    box-sizing: border-box