.partners
  padding: 55px 0 70px
  border-top: 4px $primary solid

  &__title
    text: center
    margin-bottom: 40px @md 60px
    white-space: nowrap

  &__list
    box: space-between center wrap

    &-item
      width: 33% @sm 25% @lg 16.66666%
      margin-bottom: 20px @md 40px
      box: center middle

      &-img
        display: block
        max-width: 70px @md 100px @lg 100%
        max-height: 20px @md 100%

  &__btn
    text: center
    margin-top: 20px @md 0