.expert
  text-align: center

  &__img-wrap
    margin-bottom:  10px @lg 23px

  &__img
    width: 150px @md 200px @lg 250px

  &__name
    text: #000 500 18px 1.2 @md 24px @lg 26px 1.4
    width: 80% @lg 100%
    margin: 0 auto

  &__desc
    margin-top: 10px @md 5px @lg 3px
    text: 14px 1.3 @md 17px @lg * 1.4
    font-size: 14px @sm 17px

  &__link
    margin-top: 38px