include inc/head.pug
include inc/header.pug

.container
  aside.blog__aside

  main.blog__main
    header.blog__header
      h2.h2 
        .title-mark Блог
        |  BE HR

      select 
        option Все статьи

      


include inc/footer.pug
+footer
include inc/foot.pug