include inc/head.pug
include inc/header.pug

section.experts
  .container
    h1.experts__title.h1 Наши эксперты

    .row
      each data in experts
        .col-6.col-md-4
          +experts(data, true)

    .experts__btn-wrap
      a.experts__btn.btn.btn--medium.btn--arrow(href="!#") Стать экспертом академии

include inc/footer.pug
+footer
include inc/foot.pug