include inc/head.pug
include inc/header.pug

section.expert
  .container
    .row
      .col-12.col-md-8.offset-md-4
        .expert__head
          a.expert__head-link(href="!#") Все эксперты
          .expert__head-name Павел Шмелев
          .expert__head-desc Аккредитованный тренер-преподаватель школы HR-MOS
    .row
      .col-12.col-md-4
        .expert__photo-wrap
          img.expert__photo(src="img/expert/expert-photo.jpg", alt="")
      .col-12.col-md-8
        .expert__stat-wrap
          .expert__stat
            each item in [1,2,3,4,5]
              .expert__stat-item
                .expert__stat-count 28
                .expert__stat-count-desc Тренингов проведено

        .expert__button-wrap
          .expert__button-desc Хотите задать вопрос эксперту?
          .expert__button.btn.btn--arrow.btn--medium Задать вопрос эксперту

section.expert-about
  .container
    .expert-about__container
      .expert-about__elem
        each item in expertAbout
          .expert-about__item
            .expert-about__item-text
              h3.expert-about__title= item.title
              p.expert-about__desc= item.desc

      .expert-about__elem
        .expert-about__video
          .iframeWrap
            <iframe src="https://www.youtube.com/embed/zIwLWfaAg-8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

include inc/footer.pug
+footer
include inc/foot.pug