include inc/head.pug
include inc/header.pug

.expert
  .container
    .expert__head
      .row
        .col-8.offset-4
          a.expert__head-link(href="!#") Все эксперты
          .expert__head-name Павел Шмелев
          .expert__head-desc Аккредитованный тренер-преподаватель школы HR-MOS
    .row
      .col-4
        .expert__photo
          img(src="img/expert/expert-photo.jpg", alt="")
      .col-8
        .expert__stat
          .exert__stat-item Тренингов проведено
            

include inc/footer.pug
+footer
include inc/foot.pug